[Unit]
Description= Network management for Koozali SME Server, using old sysvinit script
After=network-pre.target
Wants=network-online.target
Wants=network.target
Before=network-online.target 
Before=network.target
Before=wan.service
Conflicts=NetworkManager.service

[Service]
Type=oneshot
ExecStartPre=/sbin/e-smith/systemd/network-pre
ExecStart=/etc/rc.d/init.d/network start
ExecStop=/etc/rc.d/init.d/network stop
ExecReload=/etc/rc.d/init.d/network restart
RemainAfterExit=yes

[Install]
WantedBy=sme-server.target
Alias=network.service
