[Unit]
Description=WAN interface for Koozali SME Server
After=network-pre.target
After=networking.service
Before=network-online.target
PartOf=networking.service

[Service]
PermissionsStartOnly=true
WorkingDirectory=/var/service/wan
Type=simple
ExecStartPre=/sbin/e-smith/service-status wan
ExecStart=/var/service/wan/run
ExecReload=/var/service/wan/run

#run.static will just exit, this might create an infinite loop
#unless set on-failure on-abnormal on-abort on-watchdog
Restart=on-failure
RestartSec=20s
RemainAfterExit=yes
SyslogIdentifier=wan

[Install]
WantedBy=sme-server.target
